.header {
    background: #cbcbcb;
    padding: 20px 0 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #555555;
}

.logotype__text {
    color: #e33033;
}

.header__nav__link {
    flex: 1 1 125px;
    display: inline-block;
    font-size: 14px;
    /*margin-right: 15px;*/
    border-radius: 5px;
    padding: 10px;
}

.header__nav__link:hover {
    color: #fff;
    background: #000;
}

.header__nav__link:last-child {
    margin-right: 0;
}

.searching {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 30px auto 0;
    background: #2b262b;
    height: 50px;
}

.searching__category {
    display: flex;
    align-items: center;
    background: #e33033;
    height: 50px;
    width: 265px;
}

.searching__category__nav {
    background: #c80000;
    height: 100%;
    padding: 15px;
}

.searching__category__pic {
    width: 20px;
    height: 20px;
    fill: white;
}

.searching__category__title {
    margin: 0 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.searching__form {
    width: 50%;
    height: 60%;
}

.searching__form__label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0 10px;
    width: 100%;
    height: 100%;
}

.searching__form__label__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.searching__form__label__btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: none;
    border: none;
}

.searching__form__label__btn:hover {
    cursor: pointer;
}

.searching__form__label__btn__pic {
    fill: #e33033;
}

.searching__form__label__btn:hover .searching__form__label__btn__pic {
    fill: #000;
}

.searching__wishes {
    display: flex;
    align-items: center;
    height: 100%;
}

.searching__wishes__wish {
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    border-right: 1px solid gray;
}

.searching__wishes__wish:hover {
    color: #e33033;
}

.searching__wishes__wish:hover .searching__wishes__wish__pic {
    fill: #e33033;
}

.searching__wishes__wish__pic {
    fill: white;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.searching__wishes__cart {
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
}

.searching__wishes__cart:hover {
    color: #e33033;
}

.searching__wishes__cart:hover .searching__wishes__cart__pic {
    fill: #e33033;
}

.searching__wishes__cart__pic {
    fill: white;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.upBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.upBtn__pic {
    fill: black;
    width: 20px;
    height: 20px;
}

.searching__form__label__deleteBtn {
    border: none;
    background: none;
    margin-right: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #e33033;
}