@import "header.css";
@import "content.css";
@import "newscarousel.css";
@import "mainPageProducts.css";
@import "footer.css";
@import "prodsUndCategs.css";
@import "prodCard.css";
@import "sameProds.css";
@import "otherProds.css";
@import "prodCardCategs.css";
@import "wishesItems.css";
@import "shoppingItems.css";
@import "shoppingForm.css";
@import "pagination.css";
@import "categPageProducts.css";
@import "loading.css";
@import "media.css";
@import "saleProds.css";
@import "orderedList.css";
@import "shippingPage.css";
@import "contacts.css";
@import "aboutUs.css";
@import "admin.css";
@import "categPageFilters.css";
@import "compareProducts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

ul {
    list-style-type: none;
}
