
.pagination {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pagination__dots {
    color: #444;
    font-weight: bold;
    font-size: 12px;
    margin: 0 10px;
}

.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 0 2px;
    color: #444;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: normal;
}

.pagination__item:hover {
    color: #ea3a3c;
    border: 1px solid #ea3a3c;
}

.pagination__navBtn {
    margin: 0 10px;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
    background: transparent;
    border: none;
    cursor: pointer;
}

.pagination__navBtn:hover {
    color: #e33033;
}
