.wishesItems__table__tbody__tr__td__input {
    width: 40px;
    height: 20px;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.wishesItems__table__tbody__tr__td__btn {
    width: 20px;
    height: 20px;
}

.total__price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.total__price__title {
    font-size: 14px;
    color: #666;
    border: 1px solid #ddd;
    padding: 10px;
    font-weight: bold;
}

.total__price__text {
    font-size: 14px;
    color: #666;
    border: 1px solid #ddd;
    padding: 10px;
    font-weight: bold;
}

.shoppingItems__ordered {
    margin-top: 10px;
    text-align: right;
    font-size: 14px;
    color: #2d5a91;
    text-decoration: underline;
}